.navbar {
  background-image: url("https://svg-placeholder.web.app/stripes/2?c1=3d5faf&c2=7bc4b7");
}

#footer {
  background-image: url("https://svg-placeholder.web.app/stripes/3?c1=3d5faf&c2=7bc4b7");
}

.card-body {
  text-align: center;
  padding: 0.5rem;
}
